@CHARSET "UTF-8";
html {
	font-size: 16px;
}

.panel {
	width: 1100px;
	margin: -10px auto;
	min-height: 1000px;
	background: #fff;
	border: 1px solid #d7d7d7;
}

.panel-header {
	padding: 0;
	height: 100px;
	background: #6CA6CD;
	border-bottom: 1px solid #d7d7d7;
}

.panel-body {
	min-height: 850px;
	background: #fff;
}

.panel-footer {
	padding: 0;
	height: 50px;
	background: #fff;
	border-top: 1px solid #d7d7d7;
}

.menu-container {
	min-height: 840px;
	width: 300px;
	display: inline-block;
	margin-top: 5px;
}

.content-container {
	min-height: 840px;
	width: 790px;
	margin-top: 5px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #d7d7d7;
}

.menu-content {
    height: 200px;
    border: 10px #6CA6CD solid;
    border-top: 1px gray solid;
}

.menu-link {
	height: 40px;
    margin-top: 5px;
    padding-left: 5px;
}

.btn-link {
	
}

.row {
	height: 40px;
}

.row-edit {
	padding-right: 35px;
    padding-top: 15px;
}

.filter-form {
	width: 55%;
    height: 40px;
    display: inline-block;
    padding-left: 15px;
    margin-left: 60px;
    padding-top: 10px;
}

.reset-form {
	width: 30%;
	height: 40px;
	display: inline-block;
}

.select {
	background: #fff;
	height: 30px;
	border-radius:4px;
}

.select-middle {
	width: 150px;
}

.btn {
	display:inline-block;
	padding: 4px 12px;
	margin-bottom:0;
	margin-left: 10px;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px
}

.news-block {
	min-height: 200px;
    width: 97%;
    margin: 10px;
    border: 1px solid #d7d7d7;
}

.news-title {
	width: 42%;
    height: inherit;
    padding-left: 10px;
    padding-top: 10px;
	display: inline-block;
}

.news-author{
	width: 40%;
	height: inherit;
    padding-top: 10px;
	display: inline-block;
	text-align: center;
}

.news-date {
	width: 15%;
    height: inherit;
    padding-top: 10px;
	display: inline-block;
	text-align: center;
}

.news-short-text {
	min-height: 60px;
	padding-left: 10px;
}

.news-full-text{
	min-height: 60px;
	padding-left: 10px;
}

.news-tags{
	height: inherit;
	width: 60%;
	padding-top: 10px;
	display: inline-block;
	text-align: end;
}

.news-comment-amount{
	height: inherit;
	width: 30%;
    padding-top: 10px;
	display: inline-block;
	text-align: center;
}

.news-checkbox {
	height: inherit;
	width: 7%;
    padding-top: 10px;
	display: inline-block;
	text-align: center;
}

.news-delete-btn {
	padding-right: 45px;
    padding-top: 10px;
}

.pagination {
    text-align: center;
    padding: 20px;
}

.page {
    display: inline-block;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
}

.page-btn {
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px
}

.active {
    border: none;
    background: #616161;
    color: #f0f0f0;
}

.btn-back {
    padding: 10px;
}

.btn-info {
	background:#66CDAA
}

.btn-warning {
	background:#FF6347
}

.btn-primary {
	background:#50ACE4
}

.btn-default {
	background:#A1E082
}

.news-block-single{
	min-height: 800px;
	width: 97%;
    margin: 10px;
    border: 1px solid #d7d7d7;
}

.comment-block {
	width: 70%;
    min-height: 300px;
    margin-top: 20px;
    margin-left: 10px;
	margin-bottom: 5px;
}

.comment {
	width: 95%;
    min-height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.comment-date {
    min-height: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.comment-text {
    min-height: 10px;
    margin-left: 5px;
    padding: 2px;
    padding-left: 5px;
	background: #E8E8E8;
}

.create-comment-block {
	width: 95%;
    min-height: 100px;
    margin-top: 25px;
    margin-left: 10px;
	margin-bottom: 5px;
}

.bad-message {
    min-height: 10px;
    margin-left: 5px;
    color: #FF0000;
    font-weight: bold;
}

.create-comment {
	width: 98%;
    min-height: 50px;
    margin-top: 10px;
    margin-left: 5px;
	margin-bottom: 5px;
}

.navigation-block {
	width: 100%;
    height: 30px;
    margin-top: 10px;
	margin-bottom: 5px;
}

.previous {
	width: 10%;
    margin-left: 10px;
    display: inline-block;
}

.next {
    width: 10%;
    margin-left: 75%;
    display: inline-block;
	text-align: right;
}

.edit-news-label{
    display: inline-block;
    width: 10%;
    text-align: end;
    vertical-align: top;
    margin: 10px;
}

.edit-input{
    height: 25px;;
    width: 74%;
    border-radius: 4px;
    border: 1px solid #9A9393;
    margin-left: 3px;
}

.edit-input-short{
    height: 40px;
    width: 70%;
    border-radius: 4px;
    border: 1px solid #9A9393;
}

.edit-input-short-1{
    height: 40px;
    width: 57%;
    border-radius: 4px;
    border: 1px solid #9A9393;
    padding-left: 5px;
}

.edit-input-full {
	height: 100px;
	width: 70%;
    border-radius: 4px;
	border: 1px solid #9A9393;
}

.row-edit {
	height: 40px;
	padding-left: 10px;
}

.edit-container {
	padding: 10px;
    margin: 40px 10px;
}

.area-edit {
	height: 40px;
	padding: 5px;
}

.edit-label{
    display: inline-block;
    width: 10%;
    text-align: end;
    margin: 10px;
}

.edit-label-middle {
	display: inline-block;
    width: 20%;
    text-align: end;
    margin: 10px;
}

.save-news-btn{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 84%;
    text-align: end;
}

.save-container {
	padding: 10px;
    margin: 40px 10px;
}

.btn-group {
	
}

.login-form{
    margin: 20px auto;
    padding-left: 20%;
}

.row-login-btn {
	width: 63%;
    padding: 10px;
    text-align: end;
}

.alert {
	margin: 60px auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.alert-danger{
	background: #F55252;
}

.alert-success {
    background: #48DA48;
}

.btn-group {
	display: inline-block;
}

.edit-delete-btn {
	display: inline-block;
}

.edit-cancel-btn {
	display: inline-block;
}

.edit-form {
	width: 70%;
    display: inline-block;
}

.error-code {
	min-height: 60px;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    background: #fff;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.error-message {
    margin-top: 30px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

.footer {
	margin-top: 15px;
}

.header-main {
	display: inline-block;
    padding: 10px;
    width: 60%;
    height: 45%;
    font-size: 2.5em;
    font-weight: bold;
}

.logout {
	display: inline-block;
    width: 35%;
    text-align: end;
}

.lang {
	text-align: end;
    padding-right: 30px;
}