html {
	font-size: 16px;
}

h1 {
	margin: 0;
	font-size:3em
}

.panel {
	width: 1100px;
	margin: -10px auto;
	min-height: 1000px;
	background: #fff;
	border: 1px solid #d7d7d7;
}

.panel-header {
	padding: 0;
	height: 100px;
	background: #6CA6CD;
	border-bottom: 1px solid #d7d7d7;
}

.panel-body {
	min-height: 850px;
	background: #fff;
}

.panel-footer {
	padding: 0;
	height: 50px;
	background: #fff;
	border-top: 1px solid #d7d7d7;
}

.row {
	height: 40px;
}

.col {
	position:relative;
	min-height:1px;
	padding-right:5px;
	padding-left:5px;
}

.col-1 {
	position:relative;
	min-height:1px;
	padding-top: 5px;
	padding-right:5px;
	padding-left:5px;
	width: 10%
}

.col-2 {
	position:relative;
	min-height:1px;
	padding-right:5px;
	padding-left:5px;
	width: 20%
}

.col-5{
	position:relative;
	min-height:1px;
	padding-right:5px;
	padding-left:5px;
	width: 50%
}

.col-6 {
	position:relative;
	min-height:1px;
	padding-right:5px;
	padding-left:5px;
	width: 60%
}

.col-offset-2 {
	margin-left: 20%;
}

.col-offset-4 {
	margin-left: 40%;
}

.col-offset-6 {
	margin-left: 60%;
}

.col-offset-7 {
	margin-left: 70%;
}

.col-offset-8 {
	margin-left: 80%;
}

.col-offset-9 {
	margin-left: 90%;
}

.select {
	background: #fff;
	height: 30px;
	border-radius:4px;
}

.select-tight {
	width: 100px;
}

.select-middle {
	width: 200px;
}

.select-author {
  position: absolute;
  left: 220px;
  top: 10px;
}

.select-tags {
  position: absolute;
  left: 430px;
  top: 10px;
}

.btn-filter {
  position: absolute;
  left: 630px;
  top: 7px;
}

.btn-reset {
  position: absolute;
  left: 710px;
  top: 7px;
}


.form-line{
	margin-right: 0;
	margin-left: 0;
	position: relative;
}

.form-line .form-group {
	display:inline-block;
	margin-bottom:0;
	margin-left: 5px;
	vertical-align:middle
}

.form-select-tight {
	width: 100px;
}

.form-select-middle {
	width: 200px;
}

.btn {
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	margin-left: 10px;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px
}

.news-block {
    min-height: 200px;
    width: 97%;
    margin: 10px;
    border: 1px solid #d7d7d7;
}

.news-block-single{
    width: 1080px;
    min-height: 400px;
    border: 1px #d7d7d7 solid;
    top: 10px;
    left: 10px;
    margin: 10px;
}

.news-title {
    width: 42%;
    height: inherit;
    padding-left: 10px;
    padding-top: 10px;
	display: inline-block;
}
  
.news-date {
  	width: 15%;
    height: inherit;
    padding-top: 10px;
	display: inline-block;
	text-align: center;
}

.news-author {
    width: 40%;
    height: inherit;
    padding-top: 10px;
	display: inline-block;
	text-align: center;
}

.news-short-text {
  	min-height: 60px;
	padding-left: 10px;
}

.news-full-text {
 	min-height: 60px;
	padding-left: 10px;
}

.news-tags {
 	height: inherit;
	width: 60%;
	padding-top: 10px;
	display: inline-block;
	text-align: end;
}

.news-comments-amount {
  	height: inherit;
	width: 30%;
    padding-top: 10px;
	display: inline-block;
	text-align: center;
}

.comment-block {
	width: 540px;
    min-height: 300px;
    margin-top: 20px;
    margin-left: 10px;
	margin-bottom: 5px;
}

.comment {
	width: 95%;
    min-height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.comment-date {
    min-height: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.comment-text {
    min-height: 10px;
    margin-left: 5px;
    padding: 2px;
    padding-left: 5px;
	background: #BDBDBD;
}

.create-comment-block {
	width: 95%;
    min-height: 100px;
    margin-top: 25px;
    margin-left: 10px;
	margin-bottom: 5px;
}

.create-comment-bad {
    min-height: 10px;
    margin-left: 5px;
	background: red;
}

.create-comment {
	width: 98%;
    min-height: 50px;
    margin-top: 10px;
    margin-left: 5px;
	margin-bottom: 5px;
}

.navigation-block {
	width: 100%;
    height: 30px;
    margin-top: 10px;
	margin-bottom: 5px;
}

.previous {
	width: 10%;
    margin-left: 10px;
    display: inline-block;
}

.next {
    width: 10%;
    margin-left: 75%;
    display: inline-block;
	text-align: right;
}


.btn-view {
    height: 30px;
    width: 100px;
    top: 180px;
    left: 20px;
}

.btn-info {
	background:#66CDAA
}

.btn-warning {
	background:#FF6347
}

.btn-primary {
	background:#50ACE4
}

.btn-default {
	background:#A1E082
}

.pagination {
    position: relative;
    margin-top: 60px;
    text-align: center;
    padding: 20px;
}

.page {
    display: inline-block;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
}

.btn-page {
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px
}

.active {
    border: none;
    background: #616161;
    color: #f0f0f0;
}

.error-code {
	min-height: 60px;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    background: #fff;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.error-message {
    margin-top: 30px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

.filter-form {
	width: 47%;
    height: 40px;
    display: inline-block;
    padding-left: 15px;
    margin-left: 200px;
    padding-top: 10px;
}

.reset-form {
	width: 30%;
	height: 40px;
	display: inline-block;
}